@import '_variables'

header
  background-color: $dark1
  height: 60px
  padding: 5px
  color: white
  display: flex
  justify-content: space-between
  align-items: center

.header-delivery
  &-icon
    font-size: 44px


