@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
header {
  background-color: #131921;
  height: 60px;
  padding: 5px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-delivery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-align: center;
}
.header-delivery-icon {
  font-size: 24px;
  margin-right: 5px;
}
.header-delivery-stockholm {
  font-weight: bold;
}

.header-middle {
  display: flex;
  align-items: center;
  width: 50%;
}

.header-searchbar-container {
  border-radius: 5px;
  height: 30px;
  width: 100%;
  display: flex;
  margin-right: 10px;
}
.header-searchbar-input {
  height: 30px;
  width: 92%;
  border: none;
  padding-left: 10px;
  border-radius: 5px 0px 0px 5px;
}
@media screen and (max-width: 920px) {
  .header-searchbar-input {
    width: 82%;
  }
}
.header-searchbar-input:focus {
  outline: none;
}
.header-searchbar-icon-container {
  background-color: #f0a74c;
  height: 32px;
  width: 8%;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 720px) {
  .header-searchbar-icon-container {
    width: 18%;
  }
}
.header-searchbar-icon-container:hover {
  background-color: #f3cd71;
}
.header-searchbar-icon {
  font-size: 22px;
}

.header-cart-container {
  position: relative;
  width: 40px;
  height: 50px;
  cursor: pointer;
}
.header-cart-container:hover {
  color: #f3cd71;
}
.header-cart-icon {
  font-size: 36px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.header-cart-number {
  position: absolute;
  color: #f0a74c;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 24px;
}

.description-section {
  width: 55%;
  padding: 10px;
  font-family: "PT Sans";
  color: #5f5f5f;
}
@media screen and (max-width: 520px) {
  .description-section {
    width: 100%;
    margin-bottom: 20px;
  }
}

.description-header, .description-top {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.description-section h2 {
  color: black;
  font-style: italic;
  font-size: 32px;
  margin: 5px 0px;
}

.description-section h5 {
  font-style: italic;
  margin: 0px;
}

.description-section h4 {
  color: black;
  margin: 0px;
}

.description-rating-stars {
  color: #f3cd71;
  font-size: 18px;
}
.description-rating-label {
  color: #0a5c49;
  margin-left: 5px;
  font-weight: 600;
}

.description-price {
  color: #b12704;
  font-style: italic;
  font-size: 18px;
  margin-left: 10px;
}

.description-choices-container {
  margin: 20px 0px;
}

.description-choices {
  display: flex;
  margin: 5px 0px;
}

.description-choice {
  border: 1px solid #ddd;
  padding: 5px 15px;
  margin: 5px;
  cursor: pointer;
}
.description-choice:hover {
  border: 1px solid black;
}
.description-choice--active {
  border: 2px solid #f0a74c;
}
.description-choice--active:hover {
  border: 2px solid #f0a74c;
}
.description-choice--disabled {
  border: 1px dashed #ddd;
  cursor: auto;
}
.description-choice--disabled:hover {
  border: 1px dashed #ddd;
}

.description-about li {
  list-style: none;
  font-style: italic;
  font-size: 20px;
  margin: 5px 0px;
}

.images-section {
  width: 47%;
  max-width: 700px;
  display: flex;
}
@media screen and (max-width: 920px) {
  .images-section {
    width: 80%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 720px) {
  .images-section {
    width: 100%;
  }
}

.images-section figure {
  margin: 10px;
  padding: 0px;
}

.images-miniatures {
  width: 15%;
}

.images-section img {
  width: 100%;
}

.figure-main {
  width: 80%;
}

.shop-section {
  width: 35%;
  max-width: 250px;
  height: 450px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 15px;
  background-color: #fffffe;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "PT Sans";
  color: #5f5f5f;
}
@media screen and (max-width: 520px) {
  .shop-section {
    width: 60%;
  }
}

.shop-price {
  margin-left: 0px;
}

.shop-section-top div {
  margin: 10px 0px;
}

.shop-arrives {
  font-weight: bold;
  color: black;
  font-style: italic;
  margin-left: 5px;
}

.shop-stock {
  color: #0a5c49;
  font-weight: bold;
  font-style: italic;
}

.shop-fees {
  font-size: 12px;
  margin-left: 10px;
}

.shop-btn {
  width: 100%;
  margin: 15px auto;
  background-color: #f3cd71;
  border: 1px solid black;
  border-radius: 2px;
  padding: 7px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.shop-btn-icon {
  font-size: 22px;
}
.shop-btn-content {
  text-align: center;
  flex-grow: 1;
}
.shop-btn:hover {
  background-color: #f0a74c;
}

.also-viewed-images {
  display: flex;
}
@media screen and (max-width: 520px) {
  .also-viewed-images {
    flex-wrap: wrap;
  }
}

.figures-viewed {
  margin: 15px;
  padding: 0;
  width: 20%;
}
@media screen and (max-width: 920px) {
  .figures-viewed {
    width: 30%;
  }
}
@media screen and (max-width: 520px) {
  .figures-viewed {
    width: 60%;
    margin: 15px auto;
  }
}

.figures-viewed img {
  width: 80%;
}

.home-page {
  padding: 10px;
}

.home-page-top {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.home-page-top-right {
  width: 47%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media screen and (max-width: 920px) {
  .home-page-top-right {
    width: 100%;
  }
}

body {
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
