@import '../_variables'

.also-viewed-images
  display: flex

  @media screen and ( max-width: 520px )
    flex-wrap: wrap 

.figures-viewed
  margin: 15px
  padding: 0
  width: 20%

  @media screen and ( max-width: 920px )
    width: 30%  

  @media screen and ( max-width: 520px )
    width: 60% 
    margin: 15px auto 

.figures-viewed img
  width: 80%
  border: 1px solid $lines
  margin-bottom: 5px
  cursor: pointer

.figures-viewed figcaption
  font-style: italic
  font-weight: 500